/*
    stlye.css

    This is the page that will have all the CSS for our project site.
    Be sure to follow the order of the rules in this this file.
*/


/* ========================================================= */
/*  IMPORTS for fonts */

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lato);

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);

@import url('https://fonts.googleapis.com/css?family=Roboto:300');


/* ========================================================= */
/*  Page Level Style Rules */

body {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	overflow-x: hidden;
}

/* ---------------------------------------------- /*
 * Colors
    Celestial Blue - #3399cc
    Electric Yellow, “pop color” - #ffff33 
    Canary Yellow - #ffff99
    Lavender Gray - #C6C6C6
    Nickle = #707070
    White - #FFFFFF
/* ---------------------------------------------- */

.bg-shows {
    background-color: #FFFF99;
    color: #333333;
}

.bg-about {
    background-color: #FFFF99;
    color: #333333;
}

.bg-music {
    background-color: #35A0D6;
    color: #333333;
}
.bg-members{
	background-color: #35A0D6;
	color: #333333;
}
.bg-contact{
	background-color: #FFFF99;
	color: #333333;
}
.bg-footer{
    background-color: #28271F;
	color: #FFFFFF;
}
.bg-embeds{
    background-color: #0f5b82;
    color: #333333;
}
/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font: 200 40px/1.2 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
/*	margin: 5px 0 5px;*/
  
/*	color: #222;*/
}

h1{
	font-size: 45px;
}

h2 {
	font-size: 5.9vw; /*used to be 30px*/
/*	margin: 0 0 30px;*/
	color: #FFFFFF;
}

h3 {
	font-size: 25px;
	letter-spacing: 1px;
	margin: 0 0 5px;
}

h4 {
	font-size: 19px;
	letter-spacing: 1px;
}

h5 {
	font-size: 17px !important;
	letter-spacing: 1px;
	font-weight: 400;
}

h6 {
	font-size: 16px !important;
	letter-spacing: 1px;
	font-weight: 400;
}

.subtitle-style{
	font-size: 2.5vw;
	color:#FFF;
}

.footer-text{
	color:white;
}



/* ---------------------------------------------- /*
 * Custom button style
/* ---------------------------------------------- */

.btn {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 8px 26px;
	border: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
	outline: inherit !important;
}

/* Button size */

.btn-lg,
.btn-group-lg > .btn {
	padding: 10px 25px;
	font-size: 13px;
    background: rgba(17, 17, 17, 0.8);
    color: #fff;
}
.btn-lg:hover,
.btn-group-lg > .btn:hover{
    background: rgba(17, 17, 17, 1.8);
    color: #fff;
}

.btn-sm,
.btn-group-sm > .btn {
	padding: 6px 25px;
	font-size: 11px;
}

.btn-xs,
.btn-group-xs > .btn {
	padding: 5px 25px;
	font-size: 10px;
}

.btn .icon-before {
	margin-right: 6px;
}

.btn .icon-after {
	margin-left: 6px;
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: Raleway, sans-serif;
	
-webkit-box-shadow: -2px 14px 23px -14px rgba(0,0,0,0.62);
-moz-box-shadow: -2px 14px 23px -14px rgba(0,0,0,0.62);
box-shadow: -2px 14px 23px -14px rgba(0,0,0,0.62);
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #28271F;
	padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	font-size: 20px;
	letter-spacing: 3px;
/*	color: #222;*/
    color: #FFFFFF;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
/*	color: #E7746F;*/
    color: #cccccc;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
	font-weight: 700;
	font-size: 22px;
/*    font-family: Lobster, cursive;*/
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #E7746F;
	border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
	padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.social i{
	font-size:25px;
}

/* ---------------------------------------------- /*
 * Title
/* ---------------------------------------------- */

.titleImg {
    background: url(../images/home_img.jpg);
	background-color: #222;
	background-attachment:inherit;
	background-repeat: no-repeat;
/*	background-position: 50% 50%;*/
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	padding: 0;
    min-height: 600px;
}

.header-height-set{
	height:600px;
}
.header-height-set ul{
	list-style: none;
}

/* ---------------------------------------------- /*


/* ---------------------------------------------- /*
 * ICON STYLES
/* ---------------------------------------------- */
.icon-styles a{
	padding:10px;
	color: #FFF;
	font-size: 50px;
	cursor: pointer;
}
/*FACEBOOK*/
.icon-styles a:nth-child(1):hover{
	color:#3B5998;
}
/*INSTAGRAM*/
.icon-styles a:nth-child(2):hover{
	color:#dd3b3b;
}
/*TWITTER*/
.icon-styles a:nth-child(3):hover{
	color:#4099FF;
}
/*EMAIL*/
.icon-styles a:nth-child(4):hover{
	color:#cccccc;
}
/* ---------------------------------------------- */

/*
.carousel-control-next, .carousel-control-prev{
	display: none;
}
*/
.carousel-control-prev{
	display: inline-block;
}

/* ========================================================= */

.concert-cards{
	margin:30px;
	border: none;
	background-color: #ffff4d;
	width:50%;
	
}

.about-cards{
	margin:30px;
	border: none;
	background-color: #ffff4d;
	height: 100%;
	
}

.overlay{
	cursor: pointer;
}

@media only screen and (max-width: 750px) {
	.concert-cards{
		width:100%;
	}
}

.concert-cards h5, h6{
	font-size: 15px;
	
}

.section-height {
    height: 800px;
}

.footer-glyphicon {
    color: #FFFFFA;
    font-size: 1em;
    letter-spacing: 2em;
}

/* ========================================================= */
/* dropdown on hover */

li.dropdown:hover > .dropdown-menu {
    margin-top: -1px;
    display: block;
}

/* ========================================================= */
/* sticky-footer */

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px; /* Set the fixed height of the footer here */
  line-height: px; /* Vertically center the text there */
}

